.banner-bg{
    background-color:#fceae8;
    border-radius: 10px;
    
}
.container{
    margin-bottom:100px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color:rgb(250, 0, 75);
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}
.cat1{
    background-color: orange;
}
.cat2{
    background-color: orchid;
}
.cat3{
    background-color: blue;
}
.cat1, .cat2, .cat3 {
    padding: 10px 30px;
    border-radius: 10px;
}
.categories h1{
    color: white;
}
.categories img{
    width: 100px;
}